<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.isel.pdm.chess4android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="pt.isel.pdm.chess4android.controllers.application.PuzzleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chess4Android">

        <activity
            android:name="pt.isel.pdm.chess4android.controllers.main_activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="pt.isel.pdm.chess4android.controllers.chess_activity.ChessActivity"
            android:label="@string/local_menu"
            android:parentActivityName="pt.isel.pdm.chess4android.controllers.main_activity.MainActivity" />
        <activity
            android:name="pt.isel.pdm.chess4android.controllers.solve_activity.SolveActivity"
            android:label="@string/solve_menu"
            android:parentActivityName="pt.isel.pdm.chess4android.controllers.main_activity.MainActivity" />
        <activity
            android:name="pt.isel.pdm.chess4android.controllers.about_activity.AboutActivity"
            android:label="@string/about_menu"
            android:parentActivityName="pt.isel.pdm.chess4android.controllers.main_activity.MainActivity" />
        <activity
            android:name="pt.isel.pdm.chess4android.controllers.puzzle_activity.PuzzleActivity"
            android:exported="false" />
        <activity
            android:name="pt.isel.pdm.chess4android.controllers.puzzle_activity.PuzzleActivityWithMenu"
            android:exported="false" />
        <activity
            android:name="pt.isel.pdm.chess4android.controllers.puzzle_history_activity.HistoryActivity"
            android:exported="false" />
    </application>

</manifest>